<div class="container">
  <form [formGroup]="formGroup" class="form">
    <select
      class="select"
      [value]="allBranches && allBranches[0]"
      formControlName="dropDown"
    >
      <ng-container *ngFor="let option of allBranches">
        <option [value]="option">{{ option }}</option>
      </ng-container>
    </select>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        (dateChange)="onDateClick($event)"
        formControlName="date"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!-- <button class="btn" [disabled]="formGroup.invalid">Search</button> -->
  </form>
</div>
