.container {
  width: 200px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.title-container {
  display: flex;
  justify-content: center;
}
.title {
  font-size: 15px;
}
.body-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 50px;
}
.icon {
}
.number {
}
